/* normalizing */
body {
	overflow: hidden;

    -ms-touch-action: none;
    -webkit-touch-callout: none;

    -ms-user-select: none;
	-webkit-user-select: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */

    font-family: Dosis;
    font-size: 20pt;
    color: #3E556D;
}
* {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}


/* Icons */
@font-face {
    font-family: Icons;
    src: url('fonts/webhostinghub-glyphs.ttf');
    font-weight: 500;
    font-style: normal;
}
.icon {
	font-family: Icons;
    font-size: 90%;
}
.icon.outline {
    font-size: 75%;
    padding: 0.1em;
    border: solid 1px;
    border-radius: 20%;
}
.icon.info::before { content: "\F315"; }
.icon.alert::before { content: "\F05A"; }
.icon.return::before { content: "\F489"; }
.icon.settings::before { content: "\F00F"; }
.icon.checkmark::before { content: "\2713"; }
.icon[glyph]::before { content: attr(glyph); }


/* general page & tab structure */
#footer {
    position: fixed;
    bottom: 0;
    height: 22pt;
    width: 100%;
    background-color: #6D8299;
}
#footer ul {
    position: absolute;
    left: 50%;
    margin-left: -69pt; /* half the width, to center it */
}
#footer li {
    font-size: 14pt;
    color: white;
    padding: 2pt 16pt;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 22pt;
    overflow: hidden;
}
#details-page, #settings-page, #test-page { /* init visibility */
    display: none;
}

/* some basic common structures */
.hnav {
    overflow: hidden;
}
.hnav>li {
    float: left;
}
.scrollwrapper {
    overflow: hidden;
}
span.icon.return {
    display: block;
    position: absolute;
    left: 10pt;
    top: 14pt;
    margin-right: -20pt; /* make it invisible to other things on page */
    font-size: 14pt;
}
h2 {
    padding: 8pt;
    font-size: 22pt;
    font-weight: 500;
    text-align: center;
}
h3 {
    font-size: 20pt;
    font-weight: 400;
    margin-bottom: 0.25em;
}


/* main page */
#main-page {
    background: #DBEEF6;
}
.heading {
    margin: 15pt 10pt;
    font-size: 28pt;
    font-weight: 500;
}
#title>.char1 {
    letter-spacing: -1px;
}
#title>.char6 {
    letter-spacing: -4pt;
}

#direction {
    position: absolute;
    left: 4.2em;
    top: 0;
    text-transform: capitalize;
    padding: 0 5pt;
    border: 1px solid;
    border-radius: 10px;
}
#outerwrap {
	position: absolute;
	width: 100%;
    top: 45pt;
    left: 11pt;
    right: 10pt;
    bottom: 10pt;
}
#routes {
    float: left;
    margin-right: -200pt; /* allow overlap with timesport */
    font-weight: 300;
}
#timesport {
	width: 80%;
	float: right;
	overflow: hidden;
    margin-top: 1.1em;
}
#timeswrap {
	width: 100%;
    overflow: hidden;
}
#times {
    font-family: monospace;
	white-space: nowrap;
	width: 1000pt;
}
#routes, #times {
    line-height: 2.22em;
}
.TooLate {
    color: #c00;
}
.Risky {
    color: #e8d100;
}
.Good {
    color: #0c0;
    font-weight: bold;
}
#routes span[astate] {
    font-size: 14pt;
    padding: 2pt;
    margin-right: 2pt;
}
#routes span[astate=alerts_none] {
    display: none;
}
#routes span[astate=alerts_unread] {
    color: yellow;
    border-color: #6D8299;
    background-color: #6D8299;
}


/* details page */
#details-page {
    background-color: #DBEEF6;
    font-size: 16pt;
}
/* details-nav subpage */
#details-nav {
    width: 270px;
    margin: auto;
}
#dn-h2 {
    font-size: 18pt;
    margin-top: -20pt;
}
#details-nav li {
    width: 120px;
    height: 120px;
    padding: 5pt;
    float: left;
    text-align: center;
    font-weight: 500;
}
#details-nav li {
    background-color: #BBCCDE;
}
#details-nav li[dir=west][day=weekday],
#details-nav li[dir=east][day=weekend] {
    background-color: #6D8299;
    color: white;
}
#details-nav li[dir]:after {
    content: attr(dir);
    display: block;
    font-size: smaller;
}
#details-nav li[day=weekday]:before {
    content: "M - F";
    display: block;
    font-size: smaller;
    margin-top: 5pt;
}
#details-nav li[day=weekend]:before {
    content: "weekend";
    display: block;
    font-size: smaller;
    margin-top: 5pt;
}
#dn-alerts {
    width: 280pt;
}
#dn-alerts[astate=alerts_none] {
    display: none;
}
#dn-alerts span[astate=alerts_unread] {
    background-color: yellow;
}

/* details-schedule subpage */
#schedule-header>table {
    border-spacing: 10pt 0pt;
    margin-left: 10pt;
}
#schedule-header tbody {
    vertical-align: baseline;
}
.sh-deco {
    text-align: right;
    font-size: smaller;
    font-style: italic;
}
.sh-deco2 {
    font-weight: bold;
    vertical-align: -1px;
}
.sh-deco3 {
    font-size: smaller;
    font-weight: bold;
    text-align: left;
}
#schedule-body {
    position: absolute;
    top: 90pt;
    bottom: 0;
    width: 100%;
}
/* timetable styling */
#timetable {
    font-family: monospace;
    font-size: 16pt;
    border-spacing: 15pt 0pt;
    margin-left: 25pt;
}
#amhead, #pmhead {
    text-align: center;
}
#amtimes, #pmtimes {
    text-align: right;
    vertical-align: top;
}

/* details-alerts subpage */
#alerts-list>li {
    margin-bottom: 5pt;
}
#alerts-list>li[.unread]:before {
    content: "New!";
    font-size: smaller;
    font-weight: bold;
    color: yellow;
}
.posted {
    font-size: smaller;
    color: gray;
}

/* settings page */

#settings-page {
    background-color: #6D8299;
}

/* nested divs.  it is necessary to specifically position each level
 * to connect the height/width from page to scroll-window.  Not my favorite css...
 */
#settings-container {
    position: absolute;
    top: 20pt;
    bottom: 20pt;
    width: 320pt;
    /* centering a positioned element */
    left: 50%;
    margin-left: -160pt;
    overflow: hidden;
    background-color: white;
    border: solid 1px #ADB3B9;
}
@media (max-width: 320pt) {
    #settings-container {
        width: 100%;
        left: 0;
        margin-left: 0;
        bottom: 0;
        border: none;
    }
}
@media (min-width: 450pt) {
    #settings-container {
        width: 400pt;
        margin-left: -200pt;
    }
}
.settings-part {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
#settings-page .scrollwrapper {
    position: absolute;
    top: 45pt;
    bottom: 6pt;
    width: 100%;
    overflow: hidden;
}
#settings-page #settings-routes-wrapper {
    top: 80pt;
    line-height: 130%;
}
#settings-page .scrollee {
    position: absolute;
    width: 100%;
}

#settings-page h2 {
    border-bottom: 1px solid #ADB3B9;
}
#settings-page li {
    padding: 8pt;
    border-bottom: solid 1px #ADB3B9;
}
#settings-page p {
    padding: 0.5em;
}
.explain {
    font-family: serif;
    font-size: 14pt;
    color: #324151;
}
#useloc, #reloadp {
    display: block;
    margin-top: 0.5em;
    margin-left: 1.9em;
    text-indent: -2em;
}
#reload {
    font-size: 16pt;
    padding: 4pt;
    padding-bottom: 1pt;
    width: 50pt;
    border: 1px solid;
    background-color: #ADB3B9;
    border-radius: 5px;
    -webkit-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
}
#reload:active {
    background-color: white;
}
.special-label2 {
    margin-left: 1.25em;
}
#settings-page .rangeslider {
    display: inline-block;
    width: 140pt;
    margin: 0 10pt 3pt 5pt;
}
#settings-page .rangeslider__handle {
    border-color: #324151;
    color: #ADB3B9;
}
#settings-page .disabled, #settings-page .disabled .explain {
    color: #ccc;
}

#settings-about p {
    font-size: 14pt;
    font-family: serif;
}
.br {
    border-top: solid 1px #ADB3B9;
    margin: 2pt 0;
}
#settings-page #aboutsched {
    font-weight: bold;
}


/* we do our own inputs for two reasons:
 * 1) to get the style we like and
 * 2) so we can get around the iscroll/preventdefault issue.
 */

span[type="radio"]:before {
    content: "";
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    border: 1px solid #324151;
    margin: 0 0.25em -0.05em;
    border-radius: 50%;
}
span[type="radio"].checked:before {
    background-color: #324151;
}

span[type="checkbox"]:before {
    content: "\2713";
    font-family: Icons;
    font-size: 80%;
    color: white;
    border: 1px solid #324151;
    vertical-align: 1pt;
    padding: 0.1em 0.15em;
    margin: 0 0.25em 0 0.6em;
    border-radius: 20%;
}
span[type="checkbox"].checked:before {
    background-color: #324151;
}



#qunit-scroll-container {
    height: 30ex;
    overflow: hidden;
    position: relative;
}
