/* normalizing */
html {
	-ms-touch-action: none;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body {
	overflow: hidden;
    font-family: Dosis;
}
* {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}

/* Icons */
@font-face {
    font-family: Icons;
    src: url('fonts/webhostinghub-glyphs.ttf');
    font-weight: 500;
    font-style: normal;
}
.icon {
	font-family: Icons;   
}
.icon.closed::before { content: "\F3C9"; }
.icon.open::before { content: "\F3C7"; }
.icon.info::before { content: "\F315"; }
.icon.alert::before { content: "\F05A"; }
.icon.return::before { content: "\F31A"; }
.icon[glyph]::before { content: attr(glyph); }
.icon.open, .icon.closed {
    vertical-align: -10%;
    font-size: 90%;
}


/* general page & tab structure */
.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
#schedule-page, #options, #test-page { /* init visibility */
    display: none;
}

/* some basic structures */
.hnav {
    overflow: hidden;
}
.hnav>li {
    float: left;
}
.scrollwrapper {
    overflow: hidden;
}


/* main page */
.heading {
    margin: 10pt;
    font-size: 28pt;
}
#title>.char1 {
    letter-spacing: -2pt;
}
#title>.char2 {
    letter-spacing: -1pt;
}
#title>.char5 {
    letter-spacing: -5pt;
}
#direction {
    margin-right: 15pt;
}
#routes {
	position: absolute;
	top: 0;
	left: 0;
    font-weight: 200;
}
#timesport {
	width: 80%;
	float: right;
	overflow: hidden;
    margin-top: 1.5em;
}
#timeswrap {
	width: 100%;
}
#times {
	white-space: nowrap;
	width: 1000pt;
}
#outerwrap {
	position: absolute;
	width: 100%;
    top: 50pt;
    left: 11pt;
    right: 10pt;
    bottom: 10pt;
}


#routes, #times {
	font-size: 18pt;
	line-height: 2.25em;
}


/* schedule page panorama structure */
#schedule-page {
    background-image: url("images/clouds.jpg");
    font-size: 16pt;
}
#schedule-nav {
    width: 450pt;
    margin-left: 2pt;
}
#schedule-nav>li {
    font-size: 18pt;
    padding: 20pt 9pt 5pt;
}
#schedule-tab-container {
    position: absolute;
    top: 55pt;
    bottom: 0;
    width: 870pt;
    overflow: hidden;
}
.schedule-tab {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 320pt;
    overflow: hidden;
}
#schedule-tab {
    left: 0;
}
#alerts-tab {
    left: 325pt;
}
#more-tab {
    left: 650pt;
}


/* timetable styling */
#schedule-list {
    padding-left: 10pt;
}
#schedule-list>li {
    margin-bottom: 2pt;
}
.timetable {
    margin-left: 20pt;
    margin-bottom: 5pt;
}
.deco, .deco2 {
    font-style: italic;
    font-size: 15pt;
}
.name {
    font-weight: bold;
}
.amhead, .pmhead {
    text-align: center;
    padding-right: 2em;
}
.amtimes, .pmtimes {
    font-family: monospace;
    text-align: right;
    vertical-align: top;
    padding-right: 2em;
}

/* alert styling */

#alerts-list>li {
    margin-bottom: 5pt;
}