.rangeslider {
  background: #e6e6e6;
  display: block;
  height: 10px;
  width: 100%;
  position: relative;
  margin: 10px 0;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__handle {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 14px;
  position: absolute;
  top: -3px;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  border-radius: 5%;
}

